@charset "UTF-8";

.appearance {
    position: relative;
    background: #0f142a url(../images/bg/mb_appearance.jpg) no-repeat center top;
    background-size: cover;
    padding: 22vw 5vw 9vw 5vw;
    height: 2530/1500*100vw;

    .title__text {
        margin-bottom: 10vw;
    }

    &__r {
        position: absolute;
        right: 5vw;
        bottom: 6vw;
        width: 19vw;
    }

}

@media (min-width: $media-lg) {
    .appearance {
        background: #0f142a url(../images/bg/pc_appearance.jpg) no-repeat center top;
        background-size: cover;
        padding: 3.5vw 12vw 0vw 12vw;
        height: 3244/3840*100vw;

        .title__h2 {
            float: left;
        }

        .title__text {
            clear: both;
            float: left;
        }

        &__r {
            right: 12.5vw;
            bottom: 42vw;
            width: 8.0vw;
        }

        .owl-1 {

            .item {
                position: absolute;
                // opacity: 0.5;

                &__title {
                    color: #FFF;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 0 1px 1px #7d7d7d;

                    &::after {
                        content: '';
                        display: block;
                        padding-top: 497/670*100%;
                    }

                    span {
                        color: #FFF;
                        position: absolute;
                        left: 10px;
                        bottom: 10px;
                    }
                }
            }

            .item:nth-child(1) {
                width: 40vw;
                height: 23vw;
                left: 12vw;
                top: 22vw;
            }

            .item:nth-child(2) {
                width: 23vw;
                height: 33vw;
                left: 54vw;
                top: 12vw;
            }

            .item:nth-child(3) {
                width: 23vw;
                height: 23vw;
                left: 12vw;
                top: 47vw;
            }

            .item:nth-child(4) {
                width: 17vw;
                height: 15vw;
                left: 37vw;
                top: 51vw;

                span {
                    bottom: -24px;
                }
            }

            .item:nth-child(5) {
                width: 17vw;
                height: 15vw;
                left: 54vw;
                top: 51vw;

                span {
                    bottom: -24px;
                }
            }

            .item:nth-child(6) {
                width: 17vw;
                height: 15vw;
                left: 71vw;
                top: 51vw;

                span {
                    bottom: -24px;
                }
            }
        }
    }
}