@charset "UTF-8";

.kv {
    position: relative;
    height: 2524/1500*100vw;
    color: #FFF;
    background: url(../images/bg/mb_kv.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    &__video {
        position: relative;
        width: 100%;
        height: 100%;

        video {
            width: 100%;
        }
    }

    &__videoMask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/videoMask.png) repeat;
    }

    &__box {
        position: absolute;
        top: 220/690*100vw;
        left: 65/690*100vw;
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: left;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1;
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 8vw;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 6vw;
        flex: 0 0 rem(68);
    }

    &__text {
        font-size: 4vw;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 1vw;
        margin-bottom: 2vw;
        flex: 1 1 50%;
    }

}

@media (min-width: $media-lg) {
    .kv {
        position: relative;
        width: 100vw;
        height: 1080/(1920)*100vw;
        // background: url(../images/bg/pc_kv.jpg) no-repeat center;
        background: #000;
        background-size: cover;
        overflow: hidden;

        &__box {
            position: absolute;
            top: 9vw;
            left: 6vw;
            width: 50vw;
            height: 42vw;
            padding: 0 0 0 6vw;
            text-align: left;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            z-index: 1;
            justify-content: flex-start;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-size: 4vw;
            margin-bottom: 3vw;
        }

        &__text {
            font-size: 1.5vw;
        }

    }
}