@charset "UTF-8";

.num {
    display: flex;
    align-items: flex-end;
    justify-content: last baseline;
    box-shadow: 0 1px 0 0px rgba(255,255,255,0.5) ;
    margin-bottom: 4vw;
    width: 60vw;
    &__label{
        background: #cd2d39;
        padding: 1.5vw 0;
        color: #FFF;
        font-weight: 100;
        font-size: 5vw;
        line-height: 1;
        flex: 0 0 13vw;
        text-align: center;
    }
    &__val{
        padding: 2px 0 0 10px;
        color: #FFF;
        font-weight: 700;
        font-size: 13vw;
        line-height: 1;
    }
    &__unit{
        padding: 3px;
        color: #FFF;
        font-weight: 700;
        font-size: 4vw;
        line-height: 1;
        flex: 0 0 20vw;
    }
}

@media (min-width: $media-lg) {
  
.num {    
    margin-bottom: 2vw;
    width: 27vw;
    &__label{
        padding: 0.5vw;
        font-size: 2vw;
        flex: 0 0 5.5vw;
    }
    &__val{
        padding: 2px 0 0 10px;
        font-size: 6vw;
    }
    &__unit{
        padding: 3px ;
        font-size: 2vw;
        flex: 0 0 10vw;
    }
}
}