@charset "UTF-8";

.performance1{
    position: relative;
    background: #0f142a url(../images/bg/mb_performance1.jpg) no-repeat center top ;
    background-size: cover;
    padding: 108/690*100vw 42/690*100vw;
    height: 2800/1500*100vw;

    .title__text{
        position: absolute;
        bottom: 10vw;
        left: 0;
        padding: 108/690*100vw 42/690*100vw;
    }
}

@media (min-width: $media-lg) {
 .performance1{
    background: #0f142a url(../images/bg/pc_performance1.jpg) no-repeat center top ;
    background-size: cover;
    padding: 15vw 12vw 0vw 12vw;
    height: 1848/3840*100vw;

    .title__text{
        position: relative;
        bottom: initial;
        left: initial;
        padding: 0;
        width: 41vw;
    }
 }
}
