@charset "UTF-8";

.testdrive{
    position: relative;    
    background-size: cover;

    .title{
        &__h2{
            margin-bottom: 10vw;
        }
    }
}

.form {
    position: relative;
    flex: 0 0 100%;
    // width: 100%;
    color: $c-white;

    &-control {
        color: $c-white;
        background: transparent;
        flex: 0 0 100%;
        border-radius: 0;
        border: solid 1px rgba(255,255,255,0.5);
        font-size: rem(22);
        text-align: center;
        line-height: 1;
        padding: 5px;
        height: auto;

        &:active,
        &:visited,
        &:focus {
            color: $c-main !important;
            background: $c-white;
            border-color: $c-white;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
        }

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $c-main;
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $c-main;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $c-main;
        }

        &-plaintext{
            background: $c-white;
            padding: 0.375rem;
        }
    }

    &-content {
        display: flex;
        flex: 0 0 100%;
        background: $c-white;

        .form-control {
            flex: 1 1 auto;
            border-left: none;
            background-position-x: -10;

            &:first-child {
                margin-left: 0;
            }
        }

        span {
            flex: 0 0 auto;
            font-size: rem(15);
            line-height: rem(28);
            // margin-left: rem(5);
        }
    }

    &-group {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: rem(10);
        label{
            color: $c-white;
            margin-bottom: 0;
        }
    }

    &-required {
        position: relative;
        display: inline-block;

        &:before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background: url(../images/icons/required.svg)no-repeat center;
            position: absolute;
            left: rem(-10);
            top: rem(10);
        }
    }


}

