@charset "UTF-8";

body {
    background: #0f142a;
}

.wrap {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    min-height: 60vh;
}


a {
    display: inline-flex;
    align-items: center;
    color: $c-main;
    text-decoration: underline;
}

