@charset "UTF-8";

body {
    background: #0f142a;
}

.wrap {
    min-height: 100vh;
    overflow: hidden;
}

main {
    min-height: 60vh;
}


a {
    display: inline-flex;
    align-items: center;
    color: $c-main;
    text-decoration: underline;
}


@media (min-width: $media-lg) {
    .wrap {
        min-height: 60vh;
    }
}